table, th, td {
    border: 1px solid;
    border-collapse: collapse;
}

table {
    table-layout: fixed;
    width: 100%;
}

th {
    background-color: #2a6038;
    color: white;
}

td {
    background-color: white;
}

button {
    background-color: #68ae7a;
    color:white;
    border-radius: 5px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

p, label {
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

div {
    border-radius: 5px;
}

body {
    background-color: #68ae7a;
}

select {
    background-color: #68ae7a;
    color:white;
    border-radius: 5px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.calendarHead {
    background-color: #6da07a;
    color: black;
    font-weight: bolder;
    font-size: larger;
    text-align: center;
    height: 50px;
    line-height: 50px;
}